style {
    margin: auto
}

body {
    border-bottom-right-radius: 3px darkslategray
}

h1 {
    text-align: center;
}

h3 {
    text-align:center;
    padding-left: 10%;
}

input {
    background-color: white;
}

label {
    text-shadow: 10px;
    margin-right: 10em;
    width:10em;
}

button {
    margin: 15px;
    align-content: 2%;
    border-radius: 3px;
    background-color: orange;
    cursor: pointer;
    padding-left: 50px; padding-right: 50px;
    vertical-align:middle;
    justify-items: center;
    display: flex;
    max-block-size: 20%;
    width:auto;
}

form {
    text-align: center;
    padding-block: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 5% auto;
    border: 4px inset;
    border-width: 5%;
    width: 10%;
}

p:hover, input:hover {
    background-color: yellow;
  }

